header {
    text-align: center;
}

.safe {
    background-color: green;
    color: white;
}

.moderate {
    background-color: yellow;
}

.high {
    background-color: orange;
}

.danger {
    background-color: red;
}

.cities {
    width: 100%;
    text-align: center;
}

#main {
    font-weight: bold;
    font-size: 32px;
}
